body {
	font-size: 36px;
	max-height: 100%
}

#clockContainer {
	margin: 0 auto;
	height: 810px;
	position: relative;
}

#clock {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	position: absolute;
}

#clock:hover {
	cursor: default;
}